/* 
Pastel green - #c6d9a9
Mustard yellow - #bfa145
Golden Tainoi - #ffc261
Sap brown - #a65424
Dirty white - #ada492
*/

* {
   box-sizing: border-box;
   margin: 0;
   scrollbar-width: none;
}

body {
    background-color: #222222;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    
    color: white;
    height: 80px;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    z-index: 3;
    transition: top 0.3s ease-in-out;
}

header li a {
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    color: white;
}

header ul {
    list-style-type: none;
    padding: 0;
}

i {
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
}

header i:hover,
footer i:hover{
    color: #76C039;
    transition: 0.5s;
}

.bgc{
    background-color: #222222;
}

.h1 {
    /*font-family: 'Futura', sans-serif;*/
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 80px;
}

.breadtrail{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 40px;
    background-color: white;
    position: sticky;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}

.breadtrail ul{
    display: inline-flex;
    list-style-type: none;
    padding-left: 30px;
}

.breadtrail a{
    text-decoration: none;
    color: rgb(100, 100, 100);
}

#art,
#shop,
#me {
    scroll-margin-top: 120px;
  }

a,
p,
h2 {
    font-family: Helvetica, sans-serif; 
}

.search-field {
    display: none;
}

.show {
    background-color: white;
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    color: black;
    padding: 30px 50px;
    height: 270px;
    z-index: 2;
}

.show-search {
    display: block;
}

.hero {
    display: flex;
    background-image: url(../img/489830_24.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.htext {
    font-size: 48px;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
   /* -webkit-text-stroke: 1px black; */
   text-shadow: 1px 1px 8px #222222;
    color: white;
    text-align: center;
}

.mebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.mebox img {
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
    order: 2;
    margin-top: 20px;
}

h2{
    grid-area: h2;
    font-size: 36px;
    text-align: center;
}

.hme{
    padding: 40px 0 20px 0;
    color: #222222;
}

.pic{
    grid-area: pic;
    width: 100%;
    padding: 20px;
    border-radius: 2rem;
}

.scrollable-gallery img {
    max-height: 450px;
    border-radius: 15px;
    border: 0.16em solid #222222;
    margin: 0 5px; /* Add some margin between images */
    transition: transform 0.3s ease; /* Smooth transition */
    scroll-snap-align: center;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    grid-area: p;
    font-size: 18px;
}

.pme{
    padding: 25px;
    color: #222222;
}

.gallery{
    background-color: #ffc261;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gtitle{
    padding-top: 50px 0 20px 0;
}

.bright1 {
    position: absolute;
    right: 50px;
    top: auto;
    box-shadow: 1px 1px 5px black;
    border-radius: 5rem;
    text-decoration: none;
}

.bleft1 {
    position: absolute;
    left: 50px;
    top: auto;
    box-shadow: 1px 1px 5px black;
    border-radius: 5rem;
    text-decoration: none;
}

.bright3 {
    position: absolute;
    right: 20px;
    top: auto;
    border-radius: 5rem;
    text-decoration: none;
}

.bleft3{
    position: absolute;
    left: 20px;
    top: auto;
    border-radius: 5rem;
    text-decoration: none;
}

.bright1 i,
.bleft1 i,
.bright2 i,
.bleft2 i,
.bright3 i,
.bleft3 i{
    font-size: 48px;
    padding-right: 0;
}


.bright1,
.bleft1,
.bright2,
.bleft2,
.bright3,
.bleft3 {
    opacity: 50%;
    transition: 0.7s;
    color: black;
    outline: 1px solid grey;
}

.bright1:hover,
.bleft1:hover,
.bright2:hover,
.bleft2:hover,
.bright3:hover,
.bleft3:hover {
    opacity: 100%;
    transition: 0.7s;
    transform: scale(1.10);
}

.gallery a i:hover,
.bright2 i:hover, .bleft2 i:hover{
    color: black;
}

.scrollable-gallery{
    display: grid inline;
    grid-auto-flow: column;
    width: 100%;
    overflow-x: scroll;
    gap: 15px;
    padding: 20px 20px 50px 20px;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.whoyou ul{
    grid-area: ul;
    padding: 10px 0;
    justify-items: center;
    align-self: center;
}

.whoyou{
    display: flex;
    height: 465px;
    background-color: #ffc261;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.whoyou div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px auto 1fr;
    grid-template-areas: 
    "pic h2"
    "pic p"
    "pic ul";
    max-height: 375px;
    max-width: 800px;
    justify-content: center;
    column-gap: 20px;
}

.mpic{
    grid-area: pic;
    padding: 20px;
    border-radius: 2rem;
    max-height: 375px;
    object-fit: cover;
}

.clothes{
    display: grid inline;
    grid-auto-flow: column;
    width: 100%;
    overflow-x: scroll;
    background-color: #fdfbf4;
    border-top: 0.08em solid #222222;
    border-bottom: 0.08em solid #222222;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.btnalign {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clothes::-webkit-scrollbar,
.scrollable-gallery::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

.bright2{
    position: absolute;
    right: 50px;
    height: 48px;
    border-radius: 5rem;
    text-decoration: none;
    align-self: center;
    box-shadow: 1px 1px 3px black;
}

.bleft2{
    position: absolute;
    left: 50px;
    height: 48px;
    border-radius: 5rem;
    text-decoration: none;
    align-self: center;
    box-shadow: 1px 1px 3px black;
}

.pbox{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-bottom: 20px;
    border: 0.04em solid #222222;
    justify-content: center;
    transition: transform 0.3s ease; /* Smooth transition */
    scroll-snap-align: center;
    text-decoration: none;
}

.ptext{
    padding-left: 25px;
    color: black;
}

.ptitle{
    background-color: white;
    border-top: 0.08em solid #222222;
    text-align: left;
    padding: 10px 25px;
}

/* more.html */

.mb{
    background-color: #081F2C;
}

.mb main{
    padding-top: 0;
}

.h1c{
    display: flex;
    width: 100%;
    padding: 30px;
}

.h1c a:hover{
    color: #ffc261;
}

.options{
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    list-style: none;
    align-items: center;
    padding-left: 0;
}

.options li{
    padding-bottom: 20px;
    font-size: 18px;
}

.options li a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', sans-serif;
    transition: 0.7s;
    font-size: 32px;
    text-transform: uppercase;
}

.options li a:hover,
#home:hover{
    color: #ffc261;
    transition: 0.7s;
}

#home{
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
}

/* blog.html */
.blog,
.fun{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20vw;
    /*background-image: url(../img/28008318987_43c4a4604e_o.jpg);*/
    background-color: #d8ab7d;
    justify-items: center;
    align-items: center;
}

.blog div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 20px 20px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    min-width: 750px;
    grid-template-areas: 
    "pic p";
    transition: 0.7s;
}

.blog div:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 12px #222222;
    transition: 0.7s;
}

.blog p{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    align-self: center;
    grid-area: p;
}

.blog h2,
.fun h2{
    color: black;
    padding: 20px;
    background-color: #ffc261;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 450px;
    transition: 0.7s;
    border: 1px solid #222222;
}

/*.blog h2:hover,
.fun h2:hover{
    background-color: #25AB70;
    transform: scale(1.10);
    transition: 0.7s;
}*/

.blog img{
    border-radius: 15px;
    width: 450px;
    align-self: center;
    box-shadow: 1px 1px 3px #222222;
    grid-area: pic;
}

/* fun.html */

/*.fun{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20vw;
    background-image: url(../img/41066887440_b8dacb1895_o.jpg);
    background-color: #bf8f5e;
    align-items: center;
    margin-top: 40px;
}*/

.fun div{
    display: grid;
    grid-template-columns: 100%;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
}

.fun div video{
    border-radius: 15px;
    width: 480px;
}

/* tshirtpage.html */

.tshirt{
    display: grid;
    width: 100%;
    grid-template-columns: 50px 4fr 8fr 50px;
    grid-template-rows: repeat(5, 45px) 90px 1fr 45px;
    background-color: #fdfbf4;
    padding: 50px 30px 50px 60px;
    grid-template-areas: 
    ". . pic ."
    ". h2 pic ."
    ". p1 pic ."
    ". label pic ."
    ". buy pic ."
    ". h3 pic ."
    ". p2 pic ."
    " . . pic .";
    column-gap: 20px;
}

.tshirt h2{
    text-align: start;
    grid-area: h2;
}

.tshirt h3{
    grid-area: h3;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 24px;
    align-self: flex-end;
}

.tshirt .pd{
    grid-area: p2;
    align-self: flex-start;
    width: 75%;
    font-size: 16px;
}

.tshirt .price{
    grid-area: p1;
    align-self: flex-start;
}

.tshirt div{
    grid-area: label;
    width: 100px;
    padding: 20px 0;
}

.tshirt input{
    grid-area: buy;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #76C039;
    font-family: Helvetica, sans-serif;
    border: none;
    font-weight: bold;
    color: black;
}

.tshirt input:hover{
    box-shadow: 1px 1px 3px #222222;
}

.tshirt img{
    width: 100%;
    grid-area: pic;
    align-self: center;
    border-radius: 5px;
}

.tshirt img:hover{
    box-shadow: 1px 1px 5px #222222;
    transform: scale(1.05);
    border: none;
}

/* Webcam */
.wcb{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
    background-color: #128712;
    align-items: center;
}

/* macsite */
.msh{
    background-color: #128712;
}

.mshl{
    padding: 20px 30px 100px 30px;
    font-size: 72px;
    text-align: center;
    color: #F4F4E7;
    text-shadow: 1px 1px 5px black;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.mshi{
    object-fit: contain;
    height: 450px;
    margin-top: 50px;
    border-radius: 15px;
}

.msh li a,
.msh a,
.msh a i{
    transition: 0.5s;
}

.msn li a:hover,
.msn a:hover,
.msn i:hover{
    color: #222222;
    transition: 0.5s;
}

@media (prefers-color-scheme: light){
    .mh i:hover{
        color: #3662A9;
        background-color: #F4F4E7;
    }
}

@media only screen and (max-width: 799px) {
header > nav {
    display: none;
}

.show a {
    color: black;
    transition: 0.5s;
}

.show a:hover {
    color: red;
}

.htext {
    text-align: center;
}

h2{
    font-size: 24px;
}

p{
    font-size: 16px;
}

.gtitle{
    padding: 0 0 10px 0;
}

.scrollable-gallery{
    display: none;
}

.scrollable-gallery img,
#galleryImage {
    max-width: 350px;
    max-height: 350px;
    align-self: center;
}

.clothes{
    display: grid;
    grid-auto-flow: row;
}

.ptitle {
    border-top: 0.08em solid #222222;
}

.bright1,
.bleft1,
.bright2,
.bleft2{
    display: none;
}

.pbox{
    width: 100vw;
    border-bottom: 0.08em solid #222222;
}

.whoyou {
    height: 600px;
}

.whoyou div{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "h2 h2"
    "pic pic"
    "p p"; 
    max-height: 1000px;
}

.whoyou ul{
    display: none;
   }

.whoyou p{
    padding: 0 20px 40px 20px;
    width: 325px;
}

.mpic,
.whoyou p {
    justify-self: center;
}

.mpic{
    width: 350px;
    object-fit: cover;
    object-position: 100% 30%;
}

.whoyou div .hme{
    padding: 40px 0 0 0;
}

.h1c{
display: flex;
width: 100%;
justify-content: center;
padding: 20px;
}

.blog{
    padding: 20px 10px;
}

.blog div{
    grid-template-areas: 
    "pic"
    "p";
    min-width: 300px;
}

.blog p,
.blog img{
    width: 300px;
}

.fun div video,
.fun h2{
    width: 300px;
}

.blog h2{
    width: 350px;
}

.hero{
    background-size: 150%;
}

.tshirt{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4, 45px) auto;
    grid-template-areas: 
    "pic"
    "h2"
    "p1"
    "label"
    "buy"
    "h3"
    "p2";
    padding: 30px;
}

.tshirt img{
    margin-bottom: 30px;
}

.tshirt div{
    grid-area: label;
    width: 100px;
    padding: 0;
    padding-bottom: 10px;
    align-self: flex-end;
}

.tshirt h3{
    padding-top: 30px;
}

.mshi{
    width: 355px;
    height: fit-content;
    border-radius: 15px;
}

.mshl{
    font-size: 48px;
}

}

/* Media Query for Mobile Devices */
@media only screen and (min-width: 800px) {
   header > .fa-bars {
    display: none;
   }

   header ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
   }

   header nav a {
    padding-left: 50px;
   }

   .gallery-container {
    display: none;
}

}

header nav a:hover,
.h1:hover {
    color:#76C039;
    transition: 0.7s;
}

/* Footer */
footer {
    
}

.footercontainer {
    display: flex;
    width: 100%;
    background-color: #222222;
    column-count: 2;
    justify-content: center;
    padding-top: 1.25em;
    line-height: 1.5em;
}

.footerbox {
    display: flex;
    text-decoration: none;
    font-size: 0.938em;
    color:white;
    flex-wrap: wrap;
}

.footerbox li a {
    text-decoration: none;
    color: white;
}

.footerlogo {
    display: flex;
    height: 3em;
    width: auto;
    margin-bottom: 1.25em;
    margin-left: 1.25em;
    justify-content: center;
}

.trustlogo {
    width: 10em;
}

footer div ul {
    list-style: none;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1.25em ;
}

.followus {
    display: inline-block;
    width: auto;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.followus a{
    color: white;
}

.payoptions {
    display: inline-block;
    justify-content: space-evenly;
    font-size: 1.4em;
    padding-top: 0.5em;
}

.payoptions i:hover{
    color: white;
    cursor: default;
}

div i {
    padding-right: 0.1em;
}

footer a:hover{
    color: #76C039;
}