* {
    box-sizing: border-box;
    margin: 0;
}

.a{
    background-color: mediumspringgreen;
    grid-area: 1/1/4/3;
}

.b {
    background-color: forestgreen;
    grid-area: 1/3/4/4;
}

.c {
    grid-area: 2/1/2/2;
}

.d {
    background-color: palevioletred;
    grid-area: 2/2/3/4;
}

.layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 60% 100px 1fr;
    grid-template-rows: 50px 1fr 50px;
}

img {
    width: 100%;
}

div:hover {
    /*background-image: url(https://m.media-amazon.com/images/I/B1HVVUyLAhL._CLa%7C2140%2C2000%7C91A1krXkQyL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_UY1000_.png);*/
}