* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 250px 250px 250px;
}

.gallery img{
    object-fit: cover;
}

.gallery img:first-of-type {
    grid-column: 1/span 2;
}